body {
  font-family: Century Gothic, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
  background-image: url("media/bg_pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h3 {
  font-family: Century Gothic, Arial, sans-serif;
  color: #fff9f1;
  text-align: center;
}

.logo {
  grid-area: logo;
  text-align: center;
  margin: 5px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.group-logo {
  width: 500px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  grid-gap: 15px;
  text-align: center;
  list-style: none;
  padding: 10px;
}

.text-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin: 0;
  height: 215px;
}

.member-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

p,
.surname {
  margin: 5px;
  text-align: right;
  right: 0;
  margin-right: 10px;
}

p {
  font-size: 25px;
  position: absolute;
  bottom: 35px;
}

.surname {
  font-size: 30px;
  bottom: 5px;
}

.surname.member {
  font-size: 35px !important;
  bottom: 0;
}

.kr-ayacocho {
  grid-area: kra;
}

.kr-ayacocho:hover, .am-castro:hover, .jc-monroy:hover, .af-pascual:hover,
.sl-valerio:hover, .group-logo:hover {
  transform: scale(1.06);
}

.am-castro {
  grid-area: amc;
}

.jc-monroy {
  grid-area: jcm;
}

.af-pascual {
  grid-area: afp;
}

.sl-valerio {
  grid-area: slv;
}

@media (min-width: 769px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "kra amc jcm afp slv";
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "kra amc jcm"
      "afp slv . ";
  }
}

/*mobile*/
@media (min-width: 321px) and (max-width: 425px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "kra amc "
      "jcm afp "
      "slv .";
  }
}

.kr-ayacocho,
.am-castro,
.jc-monroy,
.af-pascual,
.sl-valerio {
  text-decoration: none;
  font-weight: bold;
  display: block;
  position: relative;
  border-radius: 10px;
  border: 1.5px solid #f9f0e4;
  background-color: #2f2f2f;
  text-shadow: -0.75px -0.75px 0 #000, 0.75px -0.75px 0 #000,
    -0.75px 0.75px 0 #000, 0.75px 0.75px 0 #000;
}

.kr-ayacocho .text-container {
  color: #048cd6;
}

.am-castro .text-container {
  color: #fc7da8;
}

.jc-monroy .text-container {
  color: #fd5a47;
}

.af-pascual .text-container {
  color: #552cb8;
}

.sl-valerio .text-container {
  color: #009a5e;
}

.kr-ayacocho:hover,
.am-castro:hover,
.jc-monroy:hover,
.af-pascual:hover,
.sl-valerio:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.kr-ayacocho:hover {
  background-color: #048cd6;
}

.am-castro:hover {
  background-color: #fc7da8;
}

.jc-monroy:hover {
  background-color: #fd5a47;
}

.af-pascual:hover {
  background-color: #552cb8;
}

.sl-valerio:hover {
  background-color: #009a5e;
}

.text-container:hover {
  color: #fff9f1;
}

h6 {
  font-family: Century Gothic, Arial, sans-serif;
  font-weight: bold;
  color: #fff9f1;
  text-align: center;
  white-space: pre-line;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 5px;
}
